<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/weapons/arsenal">Arsenal</a></li>
            <li><a href="/weapons/new">Create a new weapon</a></li>
            <li><a href="/users/login">Login/Register</a></li>
            <li><a href="/users/admin">Admin Portal</a></li>
            <% if (session.user){ %>
            <li><a href="#">Logged in as: <%= session.user.email %></a></li>
            <li><form method="post" action="/users/logout?_method=DELETE">
              <button id="logout">Logout</button>
            </form></li>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
