<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <%- include ../partials/nav %>
    </nav>
    <main>


    <div class="container">

      <div class="starter-template">
        <div><a href="/weapons/newpart">Create New Weapon Part</a></div>
        <div><a href="/users/all">View All Users</a></div>
        <div><a href="/weapons/all">View All Weapons</a></div>

      </div>

    </div><!-- /.container -->

    </main>
  </body>
</html>
