<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <%- include ../partials/nav %>
    </nav>

    <div class="container">


        <h1 class="glitch" data-text="Blaster-Bench v1.0">Blaster-Bench v1.0</h1>


    </div><!-- /.container -->


    <%- include ../partials/footer %>
  </body>
</html>
