<!DOCTYPE html>
<html>
  <head>
    <head>
      <%- include ../partials/head %>
    </head>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <%- include ../partials/nav %>
  </nav>
    <h2>Existing Users</h2>
    <p>Login here:</p>
    <form action="/users/login" method="post">
      <label for="email">Username</label>
      <input type="text" name="email">
      <label for="password">Password</label>
      <input type="text" name="password">
      <button type="submit">Submit</button>
    </form>
    <h2>New Users</h2>
    <p>Register here:</p>
    <form action="/users" method="post">
      <label for="email">Username</label>
      <input type="text" name="email">
      <label for="password">Password</label>
      <input type="text" name="password">
      <button type="submit">Submit</button>
      <input type="hidden" name="admin" value="false">
    </form>
  </body>
</html>
