<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/users" method="post">
      <label for="email">Please specify a username</label>
      <input type="text" name="email">
      <label for="password">Please specify a password</label>
      <input type="text" name="password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
