<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <%- include ../partials/nav %>
    </nav>

    <div class="container">
        <h1 class="glitch" data-text="Please log in to access this page.">Please log in to access this page.</h1>

    </div><!-- /.container -->


    <%- include ../partials/footer %>
  </body>
</html>
